<img id="sky" src="../../../assets/images/plann.jpg">
<h1>Plan your trip below - Denver, Colorado</h1>
<h6>Every flight available via TravelWay will have open seating and will be automatically selected based 100% on the lowest price with the best bang for your buck. See? It's that easy.</h6>
<label id="fly" for="flight">Choose an airline for your flight:</label>

<form action="//www.html.am/html-codes/forms/html-form-tag-action.cfm" target="result" method="get">

<select name="airlines">
<option value ="aa">American Airlines</option>
<option value ="spririt">Spirit Airlines</option>
<option value ="sw">Soutwest Airlines</option>
<option value ="UA">United Airlines</option>
<option value ="Ft">Frontier Airlines</option>
</select> 

</form>


<section>
  <label id="flytime">Choose a time for your flight</label>
  <form action="//www.html.am/html-codes/forms/html-form-tag-action.cfm" target="result" method="get">

<input type="time" id="appt" name="appt"
       min="9:00" max="18:00" required>

</form>
</section>
<p><input id="this" type="submit" value="Submit"></p><h4>You've chosen. . .</h4>












<div class=”gallery”>
<img src="../../../assets/images/westin4.jpg" class="gallery__img" alt="Image 4">
    <h1 class="bigtext"> The Westin Denver Downtown - Patio Guest room</h1>
    <p>Room cost per night: 
$200</p>
<img src="../../../assets/images/ramble1.jpg" class="gallery__img" alt="Image 6">
    <h1 class="bigtext"> The Ramble Hotel - Denver - King Room</h1>
    <p>Room cost per night: 
$230</p>
<img src="../../../assets/images/denvercreek1.jpg" class="gallery__img" alt="Image 6">
    <h1 class="bigtext"> JW Marriott Denver Cherry Creek - Mountain View</h1>
    <p>Room cost per night: 
$180</p>
</div>
<hr style="border: 2px solid rgb(255, 17, 0);" />

<h2> While you're here, we've provided information about what to do and where to eat.</h2>
<hr style="border: 2px solid rgb(255, 0, 0);" />
<div class=”gallery”>
    <p>Union Station
    </p>
    <img class="finally" src="../../../assets/images/unionstation.jpg">
    <p>Barolo Grill
    </p>
    <img class="finally"   src="../../../assets/images/Garden+Room+North.jpg"> 
    <p>Denver Bronco's Stadium
    </p>
    <img class="finally" src="../../../assets/images/broncos.jpg">
    <p>Rioja - Mediterranean</p>
    <img class="finally" src="../../../assets/images/flagstaffhouse-dining-room.jpg">
    <p>Denver Art Museum Exterior at Night</p>
    <img class="finally" src="../../../assets/images/art museumdn.jpg">
    <p>Sushi Den</p>
    <img class="finally" src="../../../assets/images/sushiden.jpg">
</div>


