<img src="./../../../assets/images/earth.jpeg">

<h3>A dream destination awaits. Discover yours.</h3>
<img src="./../../../assets/images/mountain.jpg">

<form action="/action_page.php" style="border:1px solid rgb(0, 4, 252)">
    <div class="container">
        <h1>Signing up and planning your trip is now fun!</h1>
        <p>You are one step to closer to making your dream trip happen!</p>
        
        <label for="email"><b>E-mail: </b> </label>
        <input type="text" id="email" placeholder="john.smith@yahoo.com" required>

        <br/>

        <label for="password"><b> Password: </b> </label>
        <input type="password" id="myInput" value="" required>

        <p>Signing up is an acknowledgement and acceptance of our Terms & Privacy.</p>

        <div>
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>
    </div>
</form>