<img id="sky" src="../../../assets/images/plann.jpg">
<h1>Plan your trip below - Honolulu, Hawaii</h1>
<h6>Every flight available via TravelWay will have open seating and will be automatically selected based 100% on the lowest price with the best bang for your buck. See? It's that easy.</h6>
<label id="fly" for="flight">Choose an airline for your flight:</label>

<form action="//www.html.am/html-codes/forms/html-form-tag-action.cfm" target="result" method="get">

<select name="airlines">
<option value ="aa">American Airlines</option>
<option value ="spririt">Spirit Airlines</option>
<option value ="sw">Soutwest Airlines</option>
<option value ="UA">United Airlines</option>
<option value ="Ft">Frontier Airlines</option>
</select> 

</form>


<section>
  <label id="flytime">Choose a time for your flight</label>
  <form action="//www.html.am/html-codes/forms/html-form-tag-action.cfm" target="result" method="get">

<input type="time" id="appt" name="appt"
       min="9:00" max="18:00" required>

</form>
</section>
<p><input id="this" type="submit" value="Submit"></p><h4>You've chosen. . .</h4>












<div class=”gallery”>
<img src="../../../assets/images/mhm1.jpg" class="gallery__img" alt="Image 4">
    <h1 class="bigtext"> The Four Seasons - Hawaii - Patio Guest room</h1>
    <p>Room cost per night: 
$200</p>
<img src="../../../assets/images/newshit.jpg" class="gallery__img" alt="Image 6">
    <h1 class="bigtext"> Ala Moana Hotel - Hawaii - Master Room</h1>
    <p>Room cost per night: 
$180</p>
<img src="../../../assets/images/ohdamn.jpg" class="gallery__img" alt="Image 6">
    <h1 class="bigtext"> Ala Moana Hotel - Hawaii - Mountain View</h1>
    <p>Room cost per night: 
$180</p>
</div>

<hr style="border: 2px solid rgb(119, 0, 255);" />

<h2> While you're here, we've provided information about what to do and where to eat.</h2>

<hr style="border: 2px solid rgb(17, 0, 255);" />
<div class=”gallery”>
    <p>Diamond Head - Dormant Volcano & Iconic Landmark
    </p>
    <img class="finally" src="../../../assets/images/diamondhead.jpg">
    <p>Hanauma Bay Snorkeling
    </p>
    <img class="finally"   src="../../../assets/images/Hanauma-Bay-Reef.jpg"> 
    <p>Waikiki Beach
    </p>
    <img class="finally" src="../../../assets/images/honolulu.jpg">
    <p>Pearl Harbor at the USS Arizona</p>
    <img class="finally" src="../../../assets/images/uss.jpg">
    <p>Hidden</p>
    <img class="finally" src="../../../assets/images/hidden.jpg">
    <p>Iolani Palace</p>
    <img class="finally" src="../../../assets/images/palace.jpg">
    <p>Moku Kitchen</p>
    <img class="finally" src="../../../assets/images/moku.jpg">
    <p>Glam by Pam</p>
    <img class="finally" src="../../../assets/images/shinyy.jpg">
    <p>Halekulani - On the Beach of Waikiki</p>
    <img class="finally" src="../../../assets/images/hola.jpg">
    <p>Orchids restaurant in Hawaii</p>
    <img class="finally" src="../../../assets/images/orchids.jpg">
</div>
