


<div style="text-align:center">
    <h1>
      {{ title }}
    </h1>
    <img width="200" alt="TravelWay Logo" src=" ./assets/images/logo.png">
  </div>

  
  <div style="text-align:center">
  <h2>Feedback according to your destination : </h2>
  

<h5> Honolulu, Hawaii</h5><img width="100" alt="Honolulu" src=" ../assets/images/destinations/Honolulu.png"> <br> <h6>Great beaches, nice surfing, excellent golf courses, top level hotels</h6> 


 <h5>Los Angeles </h5> <img width="100" alt="LA" src="../assets/images/destinations/LA.png">  <h6>Amazing beachlife, nice shopping, Hollywood !</h6>  <br>

<h5> South Beach, Miami</h5> <img width="100" alt="Miami" src="../assets/images/destinations/SouthBeach.png">  <h6>White beaches,  party hot spot ,excellent golf courses, top level clubs</h6>   <br>

<h5> Washington</h5> <img width="100" alt="Washington" src="../assets/images/destinations/Washington.jpg"> <h6> Iconic museums, historical monuments</h6>    <br>
<h5> Las Vegas</h5> <img width="100" alt="Vegas" src="../assets/images/destinations/Vegas.jpg">  <h6>Top level hotesl, endless entertainment, best casinos, best shows</h6>   <br>



