
<div class="fling-minislide">
  <img src="../../../assets/images/Breathtaking-Travel-Photographs-by-Travis-Burke-8-900x900.jpeg" alt="Slide 4" />
  <img src="../../../assets/images/handroom.jpg"/>
  <img src="../../../assets/images/newyorkbro.jpg" alt="Slide 3" />

  <img src="../../../assets/images/honolulu.jpg" alt="Slide 2" />

  <img src="../../../assets/images/losangg.jpg" alt="Slide 1" />
  <img src="../../../assets/images/Bora-Bora-Tahiti.jpg">
  <img src="../../../assets/images/Greece.jpg">
  <img src="../../../assets/images/ITpINC1XJd-kzOaA2mDI_1india_coochbehar_SujanSarkar.jpg"/>
</div>

<p class="item-1">"TravelWay made us rethink why we ever thought TripAdvisor was better. Thank you, TravelWay, for making our experience much easier and more fun." -Angela P.
<br><br>
"We can't believe how easy this process was. Wow. Talk about thinking less." -Mike J.
</p>

<p class="item-2">"It's as if we didn't realize there could be a more fun and easier way to travel and plan everything." -Jim C.</p>

<p class="item-3">"It's no wonder why traveling has felt hard in the past. There were too many options! TravelWay has somehow fixed this problem! Thank you!" -Karen J.</p>