
<div class="grid">
<div class="1">

  <div style="text-align:center">
    <h1>
      {{ title }}
    </h1>
    <img src=" ./assets/images/logo.png">
  </div>

  
  <div style="text-align:center">
  <h2>Feedback according to your destination : </h2>

</div>

<h4> Honolulu, Hawaii</h4> <h5><img width="200" alt="Honolulu" src=" ../assets/images/destinations/Honolulu.png" style="margin: 50px "> Great beaches, nice surfing, excellent golf courses, top level hotels</h5> 
<h4>Los Angeles </h4><h5> <img width="200" alt="LA" src="../assets/images/destinations/LA.png" style="margin: 50px"> Amazing beachlife, nice shopping, Hollywood !</h5>  <br>
<h4> South Beach, Miami</h4> <h5><img width="200" alt="Miami" src="../assets/images/destinations/SouthBeach.png" style="margin: 50px" > White beaches,  party hot spot ,excellent golf courses, top level clubs</h5>   <br>
<h4> Washington</h4><h5> <img width="200" alt="Washington" src="../assets/images/destinations/Washington.jpg" style="margin: 50px" > Iconic museums, historical monuments</h5>    <br>
<h4> Las Vegas</h4> <h5><img width="200" alt="Vegas" src="../assets/images/destinations/Vegas.jpg" style="margin: 50px" > Top level hotels, endless entertainment, best casinos, best shows</h5>   <br>

</div>
