<img id="sky" src="../../../assets/images/plann.jpg">
<h1>Plan your trip below - New York City, New York</h1>

<label id="fly" for="flight">Choose an airline for your flight:</label>

<form action="//www.html.am/html-codes/forms/html-form-tag-action.cfm" target="result" method="get">

<select name="airlines">
<option value ="aa">American Airlines</option>
<option value ="spririt">Spirit Airlines</option>
<option value ="sw">Soutwest Airlines</option>
<option value ="UA">United Airlines</option>
<option value ="Ft">Frontier Airlines</option>
</select> 

</form>


<section>
  <label id="flytime">Choose a time for your flight</label>
  <form action="//www.html.am/html-codes/forms/html-form-tag-action.cfm" target="result" method="get">

<input type="time" id="appt" name="appt"
       min="9:00" max="18:00" required>

</form>
</section>
<p><input id="this" type="submit" value="Submit"></p>












<div class=”gallery”>
<img src="../../../assets/images/mhm1.jpg" class="gallery__img" alt="Image 4">
    <h1 class="bigtext"> The Westin Denver Downtown - Patio Guest room</h1>
    <p>Room cost per night: 
$200</p>
<img src="../../../assets/images/newshit.jpg" class="gallery__img" alt="Image 6">
    <h1 class="bigtext"> The Ramble Hotel - King Room</h1>
    <p>Room cost per night: 
$180</p>
<img src="../../../assets/images/ohdamn.jpg" class="gallery__img" alt="Image 6">
    <h1 class="bigtext"> JW Marriott Denver Cherry Creek - Queen/Queen Guest Room - Mountain View</h1>
    <p>Room cost per night: 
$180</p>
</div>