<img id="sky" src="../../../assets/images/plann.jpg">
<h1>Plan your trip below - Miami/South Beach, Florida</h1>
<h6>Every flight available via TravelWay will have open seating and will be automatically selected based 100% on the lowest price with the best bang for your buck. See? It's that easy.</h6>
<label id="fly" for="flight">Choose an airline for your flight:</label>

<form action="//www.html.am/html-codes/forms/html-form-tag-action.cfm" target="result" method="get">

<select name="airlines">
<option value ="aa">American Airlines</option>
<option value ="spririt">Spirit Airlines</option>
<option value ="sw">Soutwest Airlines</option>
<option value ="UA">United Airlines</option>
<option value ="Ft">Frontier Airlines</option>
</select> 

</form>


<section>
  <label id="flytime">Choose a time for your flight</label>
  <form action="//www.html.am/html-codes/forms/html-form-tag-action.cfm" target="result" method="get">

<input type="time" id="appt" name="appt"
       min="9:00" max="18:00" required>

</form>
</section>
<p><input id="this" type="submit" value="Submit"></p><h4>You've chosen. . .</h4>












<div class=”gallery”>
<img src="../../../assets/images/iu.jpg" class="gallery__img" alt="Image 4">
    <h1 class="bigtext"> Holiday Inn - South Beach - Deluxe Room</h1>
    <p>Room cost per night: 
$200</p>
<img src="../../../assets/images/po.jpg" class="gallery__img" alt="Image 6">
    <h1 class="bigtext"> Omni Hotels & Resorts - South Beach - King Room</h1>
    <p>Room cost per night: 
$180</p>
<img src="../../../assets/images/" class="gallery__img" alt="Image 6">
    <h1 class="bigtext"> Luxe Center - South Beach - Queen/Queen Guest Room</h1>
    <p>Room cost per night: 
$180</p>
</div>

<hr style="border: 2px solid red;" />

<h2> While you're here, we've provided information about what to do and where to eat.</h2>
<hr style="border: 2px solid red;" />
<div class=”gallery”>
    <p>Venice Beach
    </p>
    <img class="finally" src="../../../assets/images/iu.jpg">
    <p>Santa Monica Pier
    </p>
    <img class="finally"   src="../../../assets/images/po.jpg"> 
    <p>Getty Center
    </p>
    <img class="finally" src="../../../assets/images/gettu.jpg">
    <p>El Matador State Beach, Malibu, CA</p>
    <img class="finally" src="../../../assets/images/bigs-El-Matador-State-Beach-Malibu-CA-107776112-e1-Large-1000x635.jpg">
    <p>South Beach Skyline</p>
    <img class="finally" src="../../../assets/images/southbeachskyline.jpg">
    <p>SLS center</p>
    <img class="finally" src="../../../assets/images/sls.jpg">
</div>
