

<div class="wrapper wrapper--w1226">
    <div class="card card-5">
      <div class="card-body">
        <div class="col-2">
          <div class="input-group">
  
            <input type="text" id="myInput" onkeyup="myFunction()"
              placeholder="Somewhere special. . .">
  
  
            <h2 id="yo">Traveling should be<br> this easy.</h2>
            <img id="yup"
              src="https://img.icons8.com/color/96/000000/airplane-take-off.png"
              alt="no">
  
            <ul id="myUL">
  
              <li><a href="#">Denver, Colorado</a></li><br><br>
              <li><a href="#">New York City, New York</a></li><br><br>
              <li><a href="#">Honolulu, Hawaii</a></li><br><br>
              <li><a href="#"> Los Angeles, California</a></li><br><br>
              <li><a href="#">South Beach Miami, Florida</a></li><br><br>
            </ul>
  
  
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  <div class="fling-minislide">
    <img src="../../../assets/images/denveryo.jpg" alt="Slide 4" />
    <img src="../../../assets/images/newyorkbro.jpg" alt="Slide 3" />
  
    <img src="../../../assets/images/honolulu.jpg" alt="Slide 2" />
  
    <img src="../../../assets/images/losangg.jpg" alt="Slide 1" />
  </div>
  
  
  
  
  <!-- Jquery JS-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <!-- Vendor JS-->
  <script src="vendor/select2/select2.min.js"></script>
  <script src="vendor/jquery-validate/jquery.validate.min.js"></script>
  <script src="vendor/bootstrap-wizard/bootstrap.min.js"></script>
  <script src="vendor/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
  <script src="vendor/datepicker/moment.min.js"></script>
  <script src="vendor/datepicker/daterangepicker.js"></script>
  <script src="find.component.js"></script>