<img src="./../../../assets/images/earth.jpeg">

<h3>A dream destination awaits. Discover yours.</h3>
<img src="./../../../assets/images/mountain.jpg">

<!--how the user is beign asked to create a new account-->
<div>
    <form (ngSubmit)="addUser()">
        <div>
            <label for="name">First Name: </label>
            <input type="text" name="firstName" required [(ngModel)]="user.FirstName" placeholder="First">
        </div>
        <div>
            <label for="name">Last Name: </label>
            <input type="text" name="lastName" required [(ngModel)]="user.LastName" placeholder="Last">
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="text" name="email" required [(ngModel)]="user.Email" placeholder="Email">
        </div>
        <div>
            <label for="username">Username: </label>
            <input type="text" name="username" required [(ngModel)]="user.Username" placeholder="Username">
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="text" name="password" required [(ngModel)]="user.Password" placeholder="Password">
        </div>
        <br/>
        <div>
            <button type="submit">Add User</button>
        </div>
    </form>
</div>
