.column {
    float: left;
    width: 50%;
    padding: 0px;
}

/* Clear floats after image containers */

.row::after {
    content: "";
    clear: both;
    display: table;
}

#holy {
    height: 543px;
}

@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}

form {
    border: 3px solid #002efa;
    background-color: rgb(218, 153, 153);
    color: blue;
}

input[type=text], input[type=password] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 4px solid rgb(0, 4, 253);
    box-sizing: border-box;
}

button {
    background-color: rgb(253, 5, 5);
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
.sign {
    margin-left: 450px;
}
h1 {
    margin-left: 130px;
}